<div class="boxed">
[% INCLUDE form_header.tmpl %]

[% IF c.dfv_msgs.any_errors %]
<script type="text/javascript">
  [% IF c.dfv_msgs.invalid_default_platform %]
    Smolder.show_message('warning', 'Default Platform must be under 255 characters.');
  [% END %]
  [% IF c.dfv_msgs.invalid_default_arch %]
    Smolder.show_message('warning', 'Default Architecture must be under 255 characters.');
  [% END %]
</script>
[% END %]

<form action="/app/projects/process_admin_settings/[% project.id %]" class="ajaxable for_admin_settings show_settings_indicator" name="admin_settings_form" method="post">
<table>
<tr>
  <td><label [% IF c.dfv_msgs.err_default_platform %]class="warn"[% END %]>Default Platform</label></td>
  <td><input class="first" type="text" name="default_platform" /></td>
</tr>
<tr>
  <td><label [% IF c.dfv_msgs.err_default_arch %]class="warn"[% END %]>Default Architecture</label></td>
  <td><input type="text" name="default_arch" /></td>
</tr>
<tr>
  <td><label [% IF c.dfv_msgs.err_graph_start %]class="warn"[% END %]>Default Graph Start Date</label></td>
  <td>
    <select name="graph_start">
      <option value="project">Project Start Date</option>
      <option value="year">First Day of the Year</option>
      <option value="month">First Day of the Month</option>
      <option value="week">First Day of the Week</option>
      <option value="day">Today</option>
    </select>
  </td>
</tr>
<tr>
  <td><label class="required[% IF c.dfv_msgs.err_allow_anon %] warn[% END %]">Allow Anonymous Reports?</label></td>
  <td>
    <input type="radio" name="allow_anon" value="1"/>Yes
    <input type="radio" name="allow_anon" value="0"/>No
  </td>
</tr>
<tr>
  <td colspan="2" align="right">
    <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="indicator" id="settings_indicator" alt="loading" />
    <input type="submit" value="Update Settings" />
  </td>
</tr>
</table>
</form>
</div>
