<div style="float:right; padding-right: 30px;" id="smoke_reports_nav">
  <form class="ajaxable show_paging_indicator" name="smoke_reports" id="smoke_reports" action="/app/projects/smoke_reports/[% project.id %]" method="get">
    <input type="hidden" name="offset" value="" />
    <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="indicator" id="paging_indicator" alt="loading" />
    [% SET tags = project.tags %]
    [% IF tags %]
    <span>
    <select name="tag" class="auto_submit" style="width:10em">
      <option value="">--Tag--</option>
      [% FOREACH t IN tags %]
        <option value="[% t | html %]"[% IF t == tag %]selected="selected"[% END %]>[% t | html %]</option>
      [% END %]
    </select>
    </span>
    [% END %]
    [% IF limit && (offset - limit >= 0) %]
      <a class="smoke_reports_nav offset_[% offset - limit %]" href="/app/projects/smoke_reports/[% project.id %]?offset=[% offset - limit %];limit=[% limit %];tag=[% tag %]" style="text-decoration: none">&lArr;</a>
    [% ELSE %]
      &lArr;
    [% END %]
    |
    [% IF limit && ((offset + limit) < project.report_count(tag)) %]
      <a class="smoke_reports_nav offset_[% offset + limit %]" href="/app/projects/smoke_reports/[% project.id %]?offset=[% offset + limit %];limit=[% limit %];tag=[% tag %]" style="text-decoration: none">&rArr;</a>
    [% ELSE %]
      &rArr;
    [% END %]
    <select name="limit" class="auto_submit">
      <option[% IF limit == 5 %] selected="selected"[% END %]>5</option>
      <option[% IF limit == 10 %] selected="selected"[% END %]>10</option>
      <option[% IF limit == 15 %] selected="selected"[% END %]>15</option>
      <option[% IF limit == 20 %] selected="selected"[% END %]>20</option>
      <option[% IF limit == 30 %] selected="selected"[% END %]>30</option>
      <option value="0">All</option>
    </select>
  </form>
</div>
<div style="clear: both"></div>

