<strong>Dear [% developer.username %],</strong><br />

Your smolder password was recently changed at <a href="http://[% host_name %]">[% host_name %]</a>.
<br />
<blockquote>
  Your new password is <em>[% new_pw %]</em>
</blockquote>

Please <a href="http://[% host_name %]/app/public_auth/login">login</a> as soon as possible
to change the password to something more memorable.
<br />

Thank You,<br />
<em>Smolder</em>  
