[% SET page_title = "Login" %]

[% IF c.dfv_msgs.any_errors %]
<p class="warn">
    The information you provided was either incomplete or invalid. Please review, make changes and then resubmit.
</p>
[% END %]

<form action="/app/public_auth/process_login" method="post" name="login" id="login">
<input type="hidden" name="back" value="">

<table class="boxed">
<tr class="odd">
  <td><label class="required[% IF c.dfv_msgs.err_username || validation_failed %] warn[% END %]">Username<label></td>
  <td><input class="first hl" type="text" name="username" value="" size="20" autocomplete="off" /></td>
  [% IF validation_failed %]
    <td><label class="warn">Invalid username or password!</label></td>
  [% END %]
</tr>
<tr class="even">
  <td><label class="required[% IF c.dfv_msgs.err_password || validation_failed %] warn[% END %]">Password<label></td>
  <td><input class="hl" type="password" name="password" value="" size="20" autocomplete="off" /></td>
</tr>
<tr>
  <td colspan="2" align="right"><input type="submit" id="submit" value="Login" /></td>
</tr>

<tr><td colspan="2" align="left"><a href="/app/public_auth/forgot_pw">[I forgot my password!]</a></td></tr>
</table>
</form>

