Port 8080
HostName "smolder.test"
LogFile '/home/mpeters/development/smolder/logs/smolder.log'
FromAddress 'smolder@smolder.test'
#SMTPHost 127.0.0.1
ProjectFullReportsMax 50
Secret "219fdh210kak1@)_492js"
TemplateDir '/home/mpeters/development/smolder/templates'
DataDir '/home/mpeters/development/smolder/data'
HtdocsDir '/home/mpeters/development/smolder/htdocs'
SQLDir '/home/mpeters/development/smolder/sql'

