<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>[% page.title | html %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="[% IF email %]http://[% host_name %][% END %]/style/tapmatrix.css" type="text/css" />
  [% IF email %]
  <link rel="stylesheet" href="[% IF email %]http://[% host_name %][% END %]/style/email.css" type="text/css" />
  [% ELSE %]
  <script type="text/javascript" src="/js/prototype.js"></script>
  <script type="text/javascript" src="/js/scriptaculous/effects.js"></script>
  <script type="text/javascript" src="/js/behaviour.js"></script>
  <script type="text/javascript" src="/js/smolder.js"></script>
  <script type="text/javascript" src="/js/tap_behaviours.js"></script>
  <script type="text/javascript" src="/js/tooltip.js"></script>
  [% END %]
</head>

<body>

<div id="container">
    <div id="header">
        <div id="logo"></div>
        <div id="title"></div>
    </div>
    <div id="content">
    <div id="page_title"><h1>[% page.title | html %]</h1></div>

    <table id="details">
    <thead>
      <tr><th colspan="2">Details</th></tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="2">
          Uploaded [% smoke_report.added.strftime('%B %e %Y, %l:%M %p') %] 
          by [% smoke_report.developer.username | html %]
        </th>
      </tr>
    </tfoot>
    <tbody>
    <tr>
      <th>Project</th>
      <td>[% smoke_report.project.name | html %]</td>
    </tr>
    <tr>
      <th>Duration</th>
      <td>[% smoke_report.duration %] secs</td>
    </tr>
    [% FOREACH label IN ['platform', 'architecture', 'category', 'comments'] %]
      [% IF smoke_report.$label %]
      <tr>
        <th[% IF loop.last %] class="last"[% END %]>[% label | ucfirst %]</th>
        <td[% IF loop.last %] class="last"[% END %]>[% smoke_report.$label | html | html_line_break %]</td>
      </tr>
      [% END %]
    [% END %]
    </tbody>
    </table>

    [% UNLESS email || !page.model.total_ok %]
    <div class="">
        <a href="#first_failure">First Failure</a>
    </div>
    [% END %]

    <table id="matrix" summary="[% page.model.summary | html %]">
      <thead>
        <tr>
          <th>Test file</th>
          <th>Results</th>
          <th>%</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>[% page.model.summary %]</td>
          <td>[% page.model.test_files.size %] files</td>
          <td class="sum" style="[% page.model.color_css %]">[% page.model.total_percentage %]</td>
        </tr>
      </tfoot>
      [% SET found_first_failure = 0 %]
      [% FOREACH ctest IN page.tests %]
      [% SET test = ctest.first_file %]
      <tbody id="test_[% loop.count %]" class="results[% UNLESS test.ok %] failed[% END %]">
        <tr>
          <td class="filename">
            [% UNLESS email %]
              <span style="float: right">
              <img src="/images/indicator.gif" style="display:none; border: none" id="indicator_[% loop.count %]" />
              <a href="/app/developer_projects/test_file_report_details/[% smoke_report.id %]/[% loop.count %]" 
                  id="for_testfile_details_[% loop.count %]" 
                  class="testfile_details_trigger show_indicator_[% loop.count %][% UNLESS test.ok %] failed[% END %]">
                Details?
              </a>
              </span>
              [% IF !found_first_failure && !test.ok %]
                <a name="first_failure"></a>
                [% found_first_failure = 1 %]
              [% END %]
            [% END %]
            <!-- we'll make this a link when we can link to individual tests 
            <a href="[% test.link %]"[% UNLESS test.ok %] class="failed"[% END %] 
                title="[% test.name | html %][% IF (!test.ok && !test.failed_tests) %] - exited prematurely![% END %]">
            -->
            <span class="filename[% UNLESS test.ok %] failed[% END %]">
            [% test.name | html %]
            </span>
            <!-- </a> -->
          </td>
          <td class="x [% IF test.ok %]ok[% ELSE %]failed[% END %]">
            [% test.str_status | html %]
          </td>
          <td class="x sum" style="[% ctest.color_css %]">[% ctest.percentage %]</td>
        </tr>
        <tr>
          <td colspan="3"><div id="testfile_details_[% loop.count %]" class="testfile_details" style="display:none"></div></td>
        </tr>
      </tbody>
      [% END %]
    </table>

    </div>
</div>
    
</body>
</html>
