<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang = "en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[% page.title | html %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/style/tapmatrix.css" type="text/css" />
</head>

<body>

<div id="container">
    <div id="header">
        <div id="logo"></div>
        <div id="title"></div>
    </div>
    <div id="content">
    <div id="page_title"><h1>[% page.title | html %]</h1></div>

    <table id="matrix" summary="[% page.model.summary | html %]">
      <thead>
        <tr>
          <th colspan="2">Test file</th>
          <th>Test cases</th>
          <th>%</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td>[% page.model.test_files.size %] files</td>
          <td>[% page.model.summary %]</td>
          <td class="sum" style="[% page.model.color_css %]">[% page.model.total_percentage %]</td>
        </tr>
      </tfoot>
      [% FOREACH ctest IN page.tests %]
      [% SET test = ctest.first_file %]
      <tbody id="test_[% loop.count %]"[% UNLESS test.ok %] class="failed"[% END %]>
        <tr>
          <td class="filename">
            <a href="[% test.link %]"[% UNLESS test.ok %] class="failed"[% END %] title="[% test.name | html %]">
                [% test.name.chunk(25).join("\n") | html | html_line_break %]
            </a>
          </td>
          <td class="[% IF test.ok %]ok[% ELSE %]failed[% END %]">[% test.str_status | html %]</td>
          <td>
            [% FOREACH case_row IN test.case_rows %]
            <table width="100%" summary="subtests">
              <tr>
                [% FOREACH case IN case_row.cases %]
                <td class="[% case.css_class %]">
                  <a href="[% case.link %]" title="[% case.popup | html %]">&#160;</a>
                </td>
                [% END %]
              </tr>
            </table>
            [% END %]
          </td>
          <td class="x sum" style="[% ctest.color_css %]">[% ctest.percentage %]</td>
        </tr>
      </tbody>
      [% END %]
    </table>

    </div>
</div>
    
</body>
</html>
