[% SET public = report.project.public %]<p>
[%- USE Number.Format -%]
[%- odd_even.reset() -%]
<table class="properties boxed">
<thead>
  <tr><th colspan="2">Properties</th></tr>
</thead>
<tbody>
[%- IF report.duration -%]
<tr class="[% odd_even %]">
  <th>Duration</th>
  <td>[% report.duration | format_time %]</td>
</tr>
[%- END -%]
[%- IF report.tags -%]
<tr class="[% odd_even %]">
  <th>Tags</th>
  <td>[% report.tags.join(', ') | html | html_line_break %]</td>
</tr>
[%- END -%]
[%- IF report.comments -%]
<tr class="[% odd_even %]">
  <th>Comments</th>
  <td>[% report.comments | html | html_line_break %]</td>
</tr>
[%- END -%]
<tr class="[% odd_even %]">
  <th>Uploaded</th>
  <td>[% report.added.strftime('%B %e %Y, %l:%M %p') %]</td>
</tr>
<tr class="[% odd_even %]">
  <th>User</th>
  <td>[% report.developer.username | html %]</td>
</tr>
[%- IF report.platform -%]
<tr class="[% odd_even %]">
  <th>Platform</th>
  <td>[% report.platform | html | html_line_break %]</td>
</tr>
[%- END -%]
[%- IF report.architecture -%]
<tr class="[% odd_even %]">
  <th>Architecture</th>
  <td>[% report.architecture | html | html_line_break %]</td>
</tr>
[%- END -%]
[%- IF report.revision -%]
<tr class="[% odd_even %]">
  <th>Revision</th>
  <td>[% report.revision | html %]</td>
</tr>
[%- END -%]
[% FOREACH k IN extra_properties.keys.sort %]
<tr class="[% odd_even %]">
  <th>[% k | html %]</th>
  <td>[% extra_properties.$k | html %]</td>
</tr>
[%- END -%]
[%- UNLESS email -%]
<tr class="[% odd_even %]">
  <th>Download</th>
  <td>
    <a href="[% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/tap_archive/[% report.id %]">
        [% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/tap_archive/[% report.id %]
    </a>
</tr>
[%- END -%]
</tbody>
</table>

[%- UNLESS email -%]
<div class="controls">
  [%- IF report.failed -%]
    <a href="#first_failure">Goto First Failure</a> &middot;
    <a href="#" class="toggle_all_tests"><span class="show">Show All Tests</span><span class="hide" style="display: none">Show Only Failures</span></a> &middot;
  [%- END -%]
  <a href="#" class="show_all">Show All Details</a>
</div>
[%- END -%]

<form method=GET action="/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/bulk_test_file_action/[% report.id %]">
Bulk actions: Mute tests
<select name="num_days">
<option value=1>until tomorrow</option>
[% FOREACH num_days = [ '2', '3', '4', '7', '30' ] %]
<option value=[% num_days %]>for [% num_days %] day[% num_days == '1' ? '' : 's' %]</option>
[% END %]
<option value=0>unmute</option>
</select>
<input type=submit name="mute_action" value="Set">
<table summary="[% report.summary | html %]" class="boxed matrix">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Test file</th>
      <th>Results</th>
      <th>Count</th>
      <th>%</th>
    </tr>
  </thead>
  [%- SET found_first_failure = 0 -%]
  [%- FOREACH test IN results -%]
  <tbody id="test_[% loop.index %]" class="results[% IF test.failed && !test.is_muted %] failed[% ELSE %] passed[% END %]" style="[% IF report.failed && (!test.failed || test.is_muted) %]display: none[% END %]">
    <tr>
      <td width=5%><input type="checkbox" name="testfiles" value=[% test.test_file %]></td>
      <td width=5%>[% test.file_index %]</td>
      <td class="filename">
        <span style="float: right">
          <img src="[% url_prefix %]/images/indicator.gif" style="visibility:hidden; border: none" id="indicator_[% loop.index %]" />
        </span>
        [%- IF !found_first_failure && test.failed %]<a name="first_failure"></a>[% found_first_failure = 1 -%]
        [%- END -%]
        <a class="testfile_label" href="[% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/test_file_history/[% report.project.id %]/[% test.test_file %]">
        <span class="filename[% IF test.failed %] fail[% END %]">
             [% test.label | html %]
           [% IF test.is_muted %] (muted until [% test.mute_until %]) [% END %]
        </span>
        </a>
      </td>
      <td class="x sum" style="margin: 0px; padding: 0px; [% IF test.all_skipped %]background-color: #FFFD50; color: black">SKIPPED[% ELSIF test.failed %]background-color: #CC0033; color: white">FAILED[% ELSE %]background-color: #00FF00; color: black">OK[% END %]
      </td>
      <td class="x sum">
        <a 
          [% IF email %]
            href="[% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/tap_stream/[% report.id %]/[% loop.index %]"
          [% ELSE %]
            href="[% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/test_file_report_details/[% report.id %]/[% loop.index %]" 
          [% END %]
            id="for_testfile_details_[% loop.index %]" 
            class="testfile_details_trigger show_indicator_[% loop.index %]">
         [% test.total - test.failed %]/[% test.total %]
        </a>
      </td>
      <td class="x sum">
        <a 
          [% IF email %]
            href="[% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/tap_stream/[% report.id %]/[% loop.index %]"
          [% ELSE %]
            href="[% url_prefix %]/app/[% IF public %]public[% ELSE %]developer[% END %]_projects/test_file_report_details/[% report.id %]/[% loop.index %]" 
          [% END %]
            id="for_testfile_details_[% loop.index %]" 
            class="testfile_details_trigger show_indicator_[% loop.index %]">
         [% test.percent %]%
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <div id="testfile_details_[% loop.index %]" class="testfile_details" style="display:none"></div>
        <div id="testfile_details_[% loop.index %]_tap_stream" class="testfile_tap_stream" style="display:none; text-align: right">
          <a href="[% url_prefix %]/app/public_projects/tap_stream/[% report.id %]/[% loop.index %]" target="_blank">TAP &#187;</a>
        </div>
      </td>
    </tr>
  </tbody>
  [%- END %]
  <tfoot>
    <tr class="first">
      <td colspan="5">
        [%- report.total | format_number %] test cases
        - [%- report.test_files | format_number %] files
      </td>
      <td class="sum">[% report.total_percentage %]%</td>
    </tr>
    <tr>
      <td colspan="6" class="last">
          [% report.pass      | format_number %] ok, 
          [% report.fail      | format_number %] failed, 
          [% report.todo      | format_number %] todo, 
          [% report.skip      | format_number %] skipped and 
          [% report.todo_pass | format_number %] unexpectedly succeeded
      </td>
    </tr>
  </tfoot>
</table>
</form>
