<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>[% page.title %]</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/style/tapmatrix.css" type="text/css" />
	</head>
	<body>
        [% IF page.extra %]<pre>[% page.extra %]</pre>[% END %]
		<table id="matrix" summary="[% page.model.summary %]">
			<thead>
				<tr>
					<th class="r">Test file</th>
                    [% FOREACH submodel IN page.model.submodels_ref %]
					<th>[% submodel.desc_string %]</th>
                    [% END %]
					<th>%</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td class="r" rowspan="2">TOTAL</td>
                    [% FOREACH submodel IN page.model.submodels_ref %]
					<td class="x sum" style="[% submodel.color_css %]">[% submodel.total_percentage %]</td>
                    [% END %]
					<td class="x sum" style="[% page.model.color_css %]">[% page.model.total_percentage %]</td>
				</tr>
				<tr>
					<td class="x sum" colspan="[% page.model.submodel_count_plus_one %]">
						[% page.model.test_files %] files 
						<span>[% page.model.summary %]</span>
					</td>
				</tr>
			</tfoot>
            [% FOREACH ctest IN page.tests %]
			<tr>
				<td><a href="[% ctest.first_file.link %]">[% ctest.first_file.name %]</a></td>
                [% FOREACH test IN ctest.subfiles_ref %]
				<td class="x sum" style="[% test.color_css %]">[% test.percentage %]</td>
                [% END %]
				<td class="x sum" style="[% ctest.first_file.color_css %]">[% ctest.percentage %]</td>
			</tr>
            [% END %]
		</table>
	</body>
</html>
