
A new smoke report has been added to the [% report.project.name %] project
at <a href="http://[% host_name %]">[% host_name %]</a>.
<br />
You can find the details of this test at
[% SET my_url = "http://$host_name/app/developer_projects/smoke_report/${report.id}" %]
<a href="[% my_url %]">[% my_url %]</a>.
<br />

Thank You,<br />
<em>Smolder</em>  
