<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">

<channel>
<title>Smolder - [% hostname %]</title>
<link>[% c.url %]</link>
<description>Smolder recent test reports.</description>
<language>en-us</language>

[% FOREACH report IN reports %]
<item>
<title>New test report for '[% report.project.name | html %]' #[% report.id %] ([% report.failed ? 'FAILED' : 'PASSED'%])</title>
<link>[% c.url %]/app/[% report.project.public ? 'public' : 'developer' %]_projects/smoke_report/[% report.id %]</link>
<description>[% report.summary | html %]</description>
<pubDate>[% report.added.strftime('%a, %d %b %Y %H:%M:%S %z') %]</pubDate>
</item>
[% END %]

</channel>
</rss>

