[% SET page_title = 'Progress Graphs' %]

<h2>[% project.name %]</h2>

<div class="sub_menu">
    <a class="sub_menu" href="/app/projects/details/[% project.id %]">Project Details</a>
    <a class="sub_menu" href="/app/projects/add_report/[% project.id %]">Add Smoke Report</a>
    <a class="sub_menu" href="/app/projects/smoke_reports/[% project.id %]">Recent Smoke Reports</a>
    [% IF project.is_admin(c.developer) %]
    <a class="sub_menu" href="/app/projects/admin_settings/[% project.id %]">Project Settings</a>
    [% END %]
</div>

[% SET no_required_fields = 1 %]
[% INCLUDE form_header.tmpl %]

<form class="change_smoke_graph" id="change_smoke_graph_[% project.id %]" name="change_smoke_graph" method="get" action="/app/graphs/image/[% project.id %]">  
<table>
<tr>
  <td><label [% IF c.dfv_msgs.err_start %]class="warn"[% END %]>Start Date</label></td>
  <td>
    <input type="text" size="10" name="start" id="start" />
    <a href="#" id="start_calendar_trigger" class="calendar_trigger">&nbsp;</a>
    <div id="start_calendar" class="calendar_container" />
  </td>
  <td><label [% IF c.dfv_msgs.err_stop %]class="warn"[% END %]>Stop Date</label></td>
  <td>
    <input type="text" size="10" name="stop" id="stop" />
    <a href="#" id="stop_calendar_trigger" class="calendar_trigger">&nbsp;</a>
    <div id="stop_calendar" class="calendar_container" />
  </td>
</tr>
<tr>
  <td><label>Fields</label></td>
  <td colspan="3">
    <input type="checkbox" id="total" name="total" value="1" />Total
    <input type="checkbox" id="pass"  name="pass"  value="1" />Pass
    <input type="checkbox" id="fail"  name="fail"  value="1" />Fail
    <input type="checkbox" id="todo"  name="todo"  value="1" />Todo
    <input type="checkbox" id="skip"  name="skip"  value="1" />Skip
    <input type="checkbox" id="duration"  name="duration"  value="1" />Duration
  </td>
</tr>
[% IF project.platforms.size || project.architectures.size %]
<tr>
  [% IF project.platforms.size %]
  <td><label>Platform</label></td>
  <td>
    <select name="platform">
      <option value="">--</option>
      [% FOREACH plat IN project.platforms %]
      <option>[% plat | html %]</option>
      [% END %]
    </select>
  </td>
  [% END %]
  [% IF project.achitectures.size %]
  <td><label>Architecture</label></td>
  <td>
    <select name="architecture">
      <option value="">--</option>
      [% FOREACH arch IN project.architectures %]
      <option>[% arch | html %]</option>
      [% END %]
    </select>
  </td>
  [% END %]
</tr>
[% END %]
<tr>
  <td><label>Graph Type</label></td>
  <td>
    <select name="type" id="type">
      <option value="bar">Bar</option>
      <option value="line">Line</option>
      <option value="area">Area</option>
      <option value="points">Points</option>
    </select>
  </td>
  [% IF project.tags.size %]
  <td><label>Tags</label></td>
  <td>
    <select name="tag" id="tag" style="width: 10em">
    <option value="">--none--</option>
    [% FOREACH tag IN project.tags %]
    <option value="[% tag | html %]">[% tag | html %]</option>
    [% END %]
    </select>
  </td>
  </tr>
  <tr>
    <td colspan="4" align="right">
      <input type="submit" value="Update" />
    </td>
  </tr>
  [% ELSE %]
    <td colspan="2" align="right">
      <input type="submit" value="Update" />
    </td>
  [% END %]
</table>
</form>

<div id="graph_container" style="width: 650px; padding-left: 30px; margin-left: 25px; padding-top:15px">
  <img id="graph_image" src="/app/graphs/image/[% project.id %]" width="600px" height="300px" class="graph" />
</div>

