[% SET page_title = 'Preferences' %]

<div class="sub_menu">
    <a class="sub_menu" href="/app/developer_prefs/change_pw">Change Password</a>
</div>

<div class="accordion at_200" id="accordion_prefs">
  <div class="panel" id="panel_default">
    <div class="header" id="panel_default_header">
        Default Preferences
    </div>
    <div class="content" id="panel_default_content">
        <p class="small">
          You 'Default Preferences' are not used directly, but anytime you
          are added to a Project, your preferences for that new Project
          will start off like your Defaults.
        </p>
        [% SET preference = c.developer.preference %]
        [% PROCESS Developer/Prefs/pref_form.tmpl pref = c.developer.preference %]
    </div>
  </div>
  [% FOREACH project IN c.developer.projects %]
  <div class="panel" id="panel_[% project.id %]">
    <div class="header" id="panel_[% project.id %]_header">
        [% project.name %]
    </div>
    <div class="content" id="panel_[% project.id %]_content">
        [% PROCESS Developer/Prefs/pref_form.tmpl pref = c.developer.project_pref(project) %]
    </div>
  </div>
  [% END %]
</div>
