[% SET page_title = 'Welcome ' _ c.developer.username | html %]

<ul>
    <li><a href="/app/admin_developers">Manage Developers</a></li>
    <li><a href="/app/admin_projects">Manage Projects</a></li>
</ul>
