ServerType           standalone
ServerRoot           <tmpl_var InstallRoot>/apache
ServerAdmin          root@localhost
ServerSignature      Email
PidFile              <tmpl_var InstallRoot>/tmp/httpd.pid
DocumentRoot         <tmpl_var InstallRoot>/htdocs
User                 <tmpl_var User>
Group                <tmpl_var Group>
KeepAlive            Off
MaxKeepAliveRequests 100
KeepAliveTimeout     15
MinSpareServers      5
MaxSpareServers      5
StartServers         5
MaxClients           10
MaxRequestsPerChild  6000
ErrorLog             <tmpl_var InstallRoot>/logs/apache_error_log
LogFormat            "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
CustomLog            <tmpl_var InstallRoot>/logs/apache_access_log combined
LogLevel             info
TypesConfig          <tmpl_var InstallRoot>/apache/conf/mime.types
UseCanonicalName     On
HostNameLookups      Off
Timeout              600
CoreDumpDirectory    <tmpl_var InstallRoot>/tmp

#
# Dynamic Shared Object (DSO) Support
#
# To be able to use the functionality of a module which was built as a DSO you
# have to place corresponding `LoadModule' lines at this location so the
# directives contained in it are actually available _before_ they are used.
# Please read the file http://httpd.apache.org/docs/dso.html for more
# details about the DSO mechanism and run `httpd -l' for the list of already
# built-in (statically linked and thus always available) modules in your httpd
# binary.
#
# Note: The order in which modules are loaded is important.  Don't change
# the order below without expert advice.
#
# Example:
# LoadModule foo_module libexec/mod_foo.so
LoadModule mime_magic_module  libexec/mod_mime_magic.so
LoadModule rewrite_module     libexec/mod_rewrite.so
#LoadModule unique_id_module   libexec/mod_unique_id.so

#  Reconstruction of the complete module list from all available modules
#  (static and shared ones) to achieve correct module execution order.
#  [WHENEVER YOU CHANGE THE LOADMODULE SECTION ABOVE UPDATE THIS, TOO]
ClearModuleList
AddModule mod_env.c
AddModule mod_log_config.c
AddModule mod_mime_magic.c
AddModule mod_mime.c
AddModule mod_expires.c
AddModule mod_headers.c

# AddModule mod_negotiation.c
# AddModule mod_status.c
# AddModule mod_include.c
# AddModule mod_autoindex.c
AddModule mod_dir.c
# AddModule mod_cgi.c
# AddModule mod_asis.c
# AddModule mod_imap.c
# AddModule mod_actions.c
# AddModule mod_userdir.c
# AddModule mod_alias.c
# AddModule mod_access.c
AddModule mod_auth.c
# AddModule mod_proxy.c
AddModule mod_so.c
# AddModule mod_setenvif.c
AddModule mod_rewrite.c
# AddModule mod_unique_id.c
AddModule mod_perl.c

PassEnv SMOLDER_ROOT
PassEnv SMOLDER_CONF
PassEnv SMOLDER_DEBUG
PassEnv PERL5LIB
PassEnv HARNESS_ACTIVE

#
# MOD_PERL Configuration for Smolder
#
PerlPassEnv SMOLDER_ROOT
PerlPassEnv SMOLDER_CONF
PerlPassEnv SMOLDER_DEBUG
PerlPassEnv PERL5LIB
PerlPassEnv HARNESS_ACTIVE

PerlSendHeader Off
PerlWarn On
PerlRequire "<tmpl_var InstallRoot>/conf/smolder_startup.pl"
DirectoryIndex index.html

ServerName <tmpl_var HostName>
Listen <tmpl_var ApacheAddr>:<tmpl_var ApachePort>

# Error pages
ErrorDocument  404     /app/public/not_found
ErrorDocument  500     /app/public/error


# make requests for the start/index go to /app
RewriteEngine On
RewriteLog <tmpl_var InstallRoot>/logs/rewrite_log
RewriteLogLevel 0
RewriteRule ^/$             /app [R,L]
RewriteRule ^/index/?$      /app [R,L]
RewriteRule ^/index.html?$  /app [R,L]

# enable if you want to check on module sharing/pre-loading
#PerlModule Smolder::Cleanup
#PerlChildExitHandler Smolder::Cleanup->loaded_modules

# handle the static stuff with Smolder::StaticContent
# so that caching can be improved
# so '/0.3/style/layout.css' will become '/style/layout.css'
# with the appropriate cache headers 
<Location /<tmpl_var Version>>
    ExpiresActive on
    ErrorHeader add "Expires" "Mon, 28 Jul 2014 23:30:00 GMT"
    ErrorHeader add "Cache-Control" "max-age=315360000"
    RewriteEngine On
    RewriteRule ^<tmpl_var InstallRoot>/htdocs/<tmpl_var Version>/(.*) /$1 [L]
    SetHandler default
</Location>

<Location /app>
    PerlModule          Smolder::Dispatch
    PerlModule          Smolder::AuthHandler
    SetHandler          perl-script
    PerlHandler         Smolder::Dispatch
    PerlAuthenHandler   Smolder::AuthHandler->authen
    PerlAuthzHandler    Smolder::AuthHandler->authz
    PerlCleanupHandler  Smolder::Cleanup
    AuthType            Smolder::AuthHandler
    AuthName            smolder
    Require             valid-user
    ErrorDocument       403 /app/public_auth/forbidden
    ErrorDocument       401 /app/public_auth/login

    # don't let our children get too full of themselves
    PerlCleanupHandler Apache::SizeLimit

</Location>

<LocationMatch /app/admin*>
    Require group admin
</LocationMatch>

<LocationMatch /app/developer*>
    Require group developer
</LocationMatch>
