###########################################################################
#
# Global Smolder Setup
#
###########################################################################

#
# User and Group: the UNIX user and group for Smolder.  All
# Smolder processes run as this user/group and all files must be owned by
# this user.
#
User  "<tmpl_var User>"
Group "<tmpl_var Group>"

#
# Database information for Smolder
#
DBPlatform "<tmpl_var DBPlatform>"
DBUser     "<tmpl_var DBUser>"
DBPass     "<tmpl_var DBPass>"
DBName     "<tmpl_var DBName>"
<tmpl_if DBHost>DBHost     "<tmpl_var DBHost>"</tmpl_if>

# 
# ApacheAddr and ApachePort: the IP and port for the Apache server
#
ApacheAddr <tmpl_var IPAddress>
ApachePort <tmpl_var ApachePort>

#
# HostName: the virtual host for the Smolder server.
#
HostName "<tmpl_var HostName>"

#
# LogLevel: how much logging detail to include in krang.log.  Valid setting are
# 1 (critical only), 2 (critical and info) and 3 (critical, info and
# debug).  A setting of 2 is standard for production use.
#
LogLevel 2

#
# Email address used as the 'From' address on all outgoing emails
FromAddress 'smolder@<tmpl_var HostName>'

#
# Host name of the SMTP server
SMTPHost 'mail.<tmpl_var HostName>'




