html {
    font-size: 11pt;
}

p, ol, ul {
    margin-top: 0px;
}

.small {
    font-size: 10pt;
}

h1 {
    font-size: 16pt;
    color: #FFFFFF;
    background-color: #555555;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

h2 { 
    color: #C47147;
    padding-left: 5px;
    border: 1px solid #333333;
}

h3 {
    color: #555555;
    padding: 0px;
    margin: 0px;
}

a {
    color: #C47147;
}

a:visited {
    color: #C47147;
}

pre {
    color: #913816;
    margin-bottom: 0px;
}

label {
    font-weight: bold;
}
div.pagination {
    background: #eff7e9;
    border: 1px solid #888888;
}
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #B82619;
    color: #ffffff;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}

strong.hilite {
    color: #ffffff;
    background-color: #B82619;
}


