body {
    text-align: center;
}

#container {
    text-align: left;
}

#header_container {
    margin: 0 auto;
    width: 750px;
    height: 100px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    padding: 3px;
    -moz-border-radius: 10px;
}

#header {
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    -moz-border-radius: 10px;
    position: relative;
    background-image: url(/images/gride.png);
}

#main_container {
    margin: 0 auto;
    width: 750px;
    min-height: 550px;
    background-color: #EEEEEE;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    padding: 3px;
    -moz-border-radius: 10px;
}

#main {
    border-width: 0px;
    min-height: 550px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    -moz-border-radius: 10px;
    background-image: url(/images/smolder_large_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0px;
    padding: 0px;
}

#top_nav {
    margin: 0 auto;
    width: 750px;
    height: 15px;
    position: relative;
    top: -10px;
    font-weight: bold;
}

#message_container {
    width: 250px;
    position: fixed;
    right: 180px;
    top: 60px;
    z-index: 1000;
}

#message_container div.info, #message_container div.warning {
    border: 1px dotted #e1b856;
    border-bottom: 2px solid #777777;
    border-right: 2px solid #777777;
    padding: 5px;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 10pt;
}

#message_container div.info {
    background: #ffffff url('/images/info.png') no-repeat left;
}

#message_container div.warning {
    background: #ffffff url('/images/warning.png') no-repeat left;
}

#content {
    padding: 3px;
}

#logo {
    background-image: url(/images/smolder_small_no_text.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

#title {
    background-image: url(/images/smolder_text.png);
    background-repeat: no-repeat;
    width: 291px;
    height: 57px;
    position: absolute;
    right: 0px;
    top: 84px;
}

#ajax_error_container {
    display:none;
}

