body {
    text-align: center;
    font-family: arial;
    font-size: 10pt;
}

#header_extra, #main_container_extra, #main_extra { display: none }

#container {
    text-align: left;
}

#header_container {
    margin: 0 auto;
    width: 750px;
    height: 100px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    padding: 3px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#header {
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    background-image: url(/images/grid.png);
}

#main_container {
    margin: 0 auto;
    width: 750px;
    min-height: 550px;
    background-color: #EEEEEE;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    padding: 3px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#main {
    border-width: 0px;
    min-height: 550px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-image: url(/images/smolder_large_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0px;
    padding: 0px;
}

#top_nav {
    margin: 0 auto;
    width: 750px;
    height: 15px;
    position: relative;
    top: -5px;
    font-weight: bold;
    font-size: 10pt;
}

#message_container {
    width: 350px;
    position: fixed;
    right: 180px;
    top: 60px;
    z-index: 1000;
}

#message_container div.info, #message_container div.warning {
    border: 1px dotted #E1B856;
    border-bottom: 1px dotted #555;
    border-right: 1px dotted #555;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 11pt;
}

#message_container div.info {
    background: #ffffff url('/images/info.png') no-repeat left;
}

#message_container div.warning {
    background: #ffffff url('/images/warning.png') no-repeat left;
}

#content {
    padding: 3px;
}

#logo {
    background-image: url(/images/smolder_small_no_text.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

#version {
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 140px;
    color: #555555;
}

#title {
    background-image: url(/images/smolder_text.png);
    background-repeat: no-repeat;
    width: 298px;
    height: 86px;
    position: absolute;
    right: 0px;
    top: 84px;
}

#ajax_error_container {
    display:none;
}

html {
    font: 11pt helvetica,arial,sans-serif;
}

p, ol, ul {
    margin-top: 0px;
}

ol, ul {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.small {
    font-size: 10pt;
}

.very_small {
    font-size: 10px;
}

h1 {
    color: #555555;
    padding: 0px;
    margin: 0px;
    font-size: 18pt;
}

h2 { 
    color: #FFFFFF;
    background-image: url('/images/h2_bg.gif');
    background-repeat: repeat-x;
    background-color: #555555;
    padding: 0px;
    margin: 0px;
    margin-bottom: 6px;
    padding-left: 5px;
    border: 1px solid #333333;
    font-size: 15pt;
    width: 721px;
}

h3 {
    color: #FFFFFF;
    background-color: #C47147;
    background-image: url('/images/h3_bg.gif');
    background-repeat: repeat-x;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

a {
    color: #C47147;
}

.tag_cloud a {
    border: 1px solid transparent;
    padding: 2px;
}

.tag_cloud a:hover {
    background-color: #C47147;
    border: 1px solid #555;
    color: #FFF;
}

a:visited {
    color: #C47147;
}

/* Top Navigation */
#top_nav .menu {
    background: url('/images/arrow-desc.gif') bottom right no-repeat;
    padding-right: 6px;
}

#top_nav ul {
    list-style: none;
    padding: 0;
}

#top_nav > ul {
    display: inline;
}

#top_nav > ul > li {
    position: relative;
    display: inline;    
    border: 0;
    padding-left: 5px;
    background: url('/images/nav-left-bg.gif') center left no-repeat;
}

#top_nav > ul > li.first {
    background-image: none;
    padding-left: 0;
}

#top_nav ul ul {
    height: auto;
    width: auto;
    min-width: 120px;
    max-width: none;
    border: 1px solid #BBBBBB;
    border-right-color: #555555;
    border-bottom-color: #555555;
    line-height: 18px;
    background-color: #DDDDDD;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 200;
    display:none;
}

#top_nav ul a {
    text-decoration: none;
    font-weight: bold;
    padding: 0;
}

#top_nav ul a:hover {
    color: #555555;
}

#top_nav ul ul a {
    border-bottom: 1px solid #555555;
    padding: 1px 5px;
    display: block;
    height: 1.3em;
}

#top_nav ul ul a:hover {
    background-color: #FFFFFF;
    color: #333333;
}

#top_nav ul li:hover ul {
    display: block;
}

/* Form elements */
button, input[type="submit"], input[type="button"] {
    color: #C47147;
    background-color: #ffffff;
    border: 1px solid #555555;
}

input:hover[type="submit"], input:hover[type="button"] {
    color: #ffffff;
    background-color: #C47147;
}

form {
    margin: 0px;
    padding: 0px;
}

a.sub_menu {
    color: #C47147;
    background: #ffffff url('/images/sub_menu_bg.gif') no-repeat bottom right;
    border-top: 1px solid #555555;
    border-left: 1px solid #555555;
    padding: 2px;
    padding-left: 3px;
    padding-right: 8px;
    text-decoration: none;
    font-size: 9.5pt;
}

a.sub_menu:hover {
    color: #ffffff;
    background: #C47147 url('/images/sub_menu_bg-over.gif') no-repeat bottom right;
}

div.sub_menu {
    padding-bottom: 12px;
}

label {
    color: #333333;
    font-weight: bold;
    padding: 0 12px;
}

span.required, label.required {
    background: url('/images/required.png') no-repeat top left;
}

p.pushdown {
    clear: both;
}

.popup_form label {
    color: #555555;
}

.boxed {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    background: #FFFFFF;
    padding: 3px;
    width: 720px;
    margin-bottom: 0px;
}

table.boxed {
    width: 727px;
}

table.short, div.short {
    width: 400px;
}


th, td {
    vertical-align: top;
}

thead th { 
    background-color: #E0E0E0;
    background-repeat: repeat-x;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

tr.header2, td.header2 {
    background-image: url('/images/header2_bg.gif');
    background-repeat: repeat-x;
    background-color: #C3C3C3;
    color: #000000;
    font-weight: bold;
}

.even {
    background-color: #E0E0E0;
}

.warn {
    color: #C47147;
}

.pass {
    color: green;
}

.fail {
    color: red;
}

.todo {
    color: #9ab00b;
}

.skip {
    color: #9ab00b;
}

.pass_fail_ratio, .pass_fail_ratio:visited {
    width: 60px;
    height: 25px;
    border: 1px solid #555555;
    vertical-align: middle;
    text-align: center;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 2px 8px 2px;
    color: #222;
}

div.popup_form {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EEEEEE;
    border: 1px solid #555555;
    border-top: 1px solid #999999;
    z-index: 100;
    max-width: 300px;
}

div.popup_form input[type="submit"], div.popup_form a.button, div.popup_form input[type="button"] {
    margin-bottom: 5px;
}

a.button {
    color: #ffffff;
    background-color: #C47147;
    border: 1px solid #555555;
    padding: 2px;
    margin-left: 2px;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
}

a.button:hover, a.button.invert, a.button.dead {
    color: #C47147;
    background-color: #ffffff;
}

a.button.invert:hover {
    color: #ffffff;
    background-color: #C47147;
}


/* Calendar styles */
a.calendar_trigger { text-decoration: none; background: url('/images/calendar.gif'); padding-right: 20px; background-repeat: no-repeat; }
a.calendar_trigger:hover { cursor: pointer; }
div.calendar_container { position: absolute }
div.calendar               { position: relative; }
.calendar, .calendar table { background: #666; color: #FFF; cursor: default; }
/* navigation buttons */
.calendar .button { height: 15px; font-weight: bold; text-align: center; }
/* 'Month Year' labeling */
.calendar thead .title { background: #555; color: #FFF; font-size: 11px; font-weight: bold; text-align: center; }/*:FIX(db2)*/
/* TR containing navigation buttons */
.calendar thead .headrow { background: #778; color: #FFF; }
/* TR containing day names */
.calendar thead .daynames { background: #FF8080; }
/* TDs containing the day names */
.calendar thead .name { background-color: #C47147; color: #FFF; font-size: 12px; font-weight: bold; text-align: center; }
/* button :hover state */
.calendar thead .hilite { color: #000; }
/* button :active state */
.calendar thead .active { color: #666; }
/* TDs containing particular days */
.calendar tbody .day { color: #666; width: 1.5em; padding: 2px 4px 2px 2px; text-align: center; font-size: .8em; }
.calendar tbody .day.othermonth { font-weight: normal; }
.calendar tbody td   { background-color: #FFF; font-weight: bold; }
/* TD :hover state */
.calendar tbody td.hilite { background-color: #C47147; color: #EEEEEE; }
/* TD :active state */
.calendar tbody td.active { background: #666; }
/* selected day */
.calendar tbody td.selected { background-color: #C47147;; color: #EEEEEE; }
/* weekends */
.calendar tbody td.weekend, .calendar tbody td.oweekend { background-color: #E1B856; }
.calendar tbody td.weekend.hilite, .calendar tbody td.oweekend.hilite { background-color: #C47147; color: #EEEEEE; }
.calendar tbody td.weekend.selected, .calendar tbody td.oweekend.selected { background-color: #C47147;; color: #EEEEEE; }
/* today, etc. */
.calendar tbody td.today   { color: #000; }
.calendar tbody .disabled  { color: #666; }
.calendar tbody .emptycell { visibility: hidden; }
/* some months need fewer than six rows */
.calendar tbody .emptyrow { display: none; }
.calendar tfoot { display: none; }

/* accordion styles */
div.accordion, div.fake_accordion {
    width: 700px;
    margin-left: 10px;
    border: solid 1px #555555;
}

div.accordion > div.panel, div.fake_accordion > div.panel {
    border-bottom: 1px solid #000000;
    background-color: blue;
}

div.accordion > div.panel > div.header, div.fake_accordion > div.panel > div.header {
    font-size: 11pt;
    padding: 2px 6px;
    border-style: solid none solid none;
    border-top-color: #CCCCCC;
    border-bottom-color: #333333;
    border-width: 1px 0px;
    background-color: #555555;
    color: #FFFFFF;
}

div.accordion form a, div.fake_accordion form a {
    font-weight: bold;
    color: #FFFFFF;
}

div.accordion form a:hover, div.fake_accordion form a:hover {
    color: #000000;
}

div.accordion div.panel div.attention, div.fake_accordion div.panel div.attention {
    background-color: #C47147;
}

div.accordion div.panel div.content, div.fake_accordion div.panel div.content {
    background-color: #FFFFFF;
}

div.fake_accordion div.panel div.invalid.content {
    background-color: #CCCCCC;
}

.accordion .header label, .fake_accordion .header label {
    color: #FFFFFF;
}

/* Auto-Complete styles */
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #C47147;
    color: #ffffff;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}

/* Indicator styles */

img.indicator {
    width: 16px;
    height: 16px;
}

/* CRUD styles */
table.crud {
    width: 720px;
}

div.crud .header {
    width: 710px;
    padding-bottom: 3px;
    text-align: right;
    vertical-align: middle;
}

div.crud .header a {
    background-image: url('/images/new.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
    text-decoration: none;
    font-weight: bold;
}

div.crud .list_container {
    margin-top: 10px;
}


/* Notify styles */
#NotifyAlertWrap{
    margin: 10%;
    background-color:#eee;
    padding: 10px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    width: 70%;
    height: 165px;
    margin-top: -4000px;
}
#NotifyAlertOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/error_overlay.png');
    z-index:1000;
}

* html #NotifyAlertOverlay{
    background-color: #333;
    back\ground-color: transparent;
    background-image: url('/images/blank.gif');
    /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/error_overlay.png", sizingMethod="scale"); */
}

/* Graphs */
img.graph {
    border: 1px solid #BBBBBB;
    border-right-color: #555555;
    border-bottom-color: #555555;
}


/* TAP Matrix formatting */
.tap pre {
    font-size: 10pt;
}

.tap table {
	background-color: #fff;
}

.tap .properties a, .tap .controls a {
        text-decoration: none;
        color: #000066;
}

.tap .controls a {
	padding: 3px 10px;
        text-decoration: none;
}

.tap .properties a:hover, .tap .controls a:hover {
        text-decoration: underline;
}

.tap .properties, .tap .controls {
    margin-bottom: 10px;
}

.tap .matrix th {
    text-align: left;
}

.tap .matrix tfoot {
    font-weight: bold;
}

.tap .matrix tfoot td.last {
    text-align: center;
    background-color: #555;
    color: #fff;
}

.tap td {
    padding: 0px;
    margin: 0px;
}

.tap .sum {
    width: 1em;  
	border: 1px solid #505050;
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
}

.tap table.subtests td {
    vertical-align: middle;
    text-align: center;
}

.tap a.testfile_details_trigger {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    display: block;
}

.tap a.testfile_details_trigger:hover {
    text-decoration: underline;
}

a.testfile_details_trigger.fail {
    color: #fff;
}

.tap a.testfile_label {
    font-size: 0.85em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border: 1px solid #555;
    display: block;
    height: 1.5em;
}

.tap a.testfile_label:hover {
    text-decoration: underline;
}

.tap .exp {
	display: block;
}

.tap .x { 
    color: black; 
    border: 1px solid #505050; 
}

.tap .fail    { background-color: #C47147; color: #000; }
.tap .ok      { background-color: #00ff00; }
.tap .skip    { background-color: #ddffdd; }
.tap .todo_ok { background-color: #ffdd20; color: #000; }
.tap .todo    { background-color: #007f00; color: #000; }
.tap .nottest { background-color: #7f7f7f; color: #000; }
.tap span.fail { background-color: transparent; color: #cc0033 }

.tap .filename { color: #000; }

ul.subtests 			{ margin: 0px 0px 20px 35px; padding: 0px; list-style-type: none; }
ul.subtests li 			{ margin: 3px; }
ul.subtests li pre		{ margin: 0px; }
.subtests li.fail 		{ background-color: white; color: #cc0033; }
.subtests li.ok 		{ background-color: white; color: black; opacity: 0.6; }
.subtests li.skip 		{ background-color: white; color: black; opacity: 0.6; font-style: italic; }
.subtests li.todo_ok 	{ background-color: white; color: #ffdd20; }
.subtests li.todo 		{ background-color: white; color: #007f00; }
.subtests li.nottest 	{ background-color: white; color: #7f7f7f; }

table.subtests td {
    vertical-align: middle;
    text-align: center;
}

/* TAP Matrix tooltip styling */
.tap .tooltip {
    min-width: 200px;
    padding: 5px;
    background: #ffffff;
    text-align: left;
    border: 1px solid #CCCCCC;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    font-weight: bold;
    z-index: 100;
    color: #000000;
}

.tap .tooltip > .header {
    background-color: #C47147;
    font-weight: bold;
    font-size: 11pt;
    color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
}

.tap .tooltip:hover, .tooltip_trigger:hover {
    cursor: pointer;
}

.tap div.tooltip {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    padding: 5px;
    text-align: left;
}

.tap div.tooltip > pre {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tap div.tooltip > pre.unknown {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #cccccc;
    background: #dddddd;
}

