html {
    font: 11pt helvetica,arial,sans-serif;
}

p, ol, ul {
    margin-top: 0px;
}

.small {
    font-size: 10pt;
}

.very_small {
    font-size: 10px;
}

h1 {
    color: #555555;
    padding: 0px;
    margin: 0px;
    font-size: 18pt;
}

h2 { 
    color: #FFFFFF;
    background-image: url('/images/h2_bg.gif');
    background-repeat: repeat-x;
    background-color: #555555;
    padding: 0px;
    margin: 0px;
    margin-bottom: 6px;
    padding-left: 5px;
    border: 1px solid #333333;
    font-size: 15pt;
}

h3 {
    color: #FFFFFF;
    background-color: #C47147;
    background-image: url('/images/h3_bg.gif');
    background-repeat: repeat-x;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

a {
    color: #C47147;
}

a:visited {
    color: #C47147;
}

/* Form elements */
button, input[type="submit"], input[type="button"] {
    color: #C47147;
    background-color: #ffffff;
    border: 1px solid #555555;
}

input:hover[type="submit"], input:hover[type="button"] {
    color: #ffffff;
    background-color: #C47147;
}

form {
    margin: 0px;
    padding: 0px;
}

a.sub_menu {
    color: #C47147;
    background: #ffffff url('/images/sub_menu_bg.gif') no-repeat bottom right;
    border-top: 1px solid #555555;
    border-left: 1px solid #555555;
    padding: 2px;
    padding-left: 3px;
    padding-right: 8px;
    text-decoration: none;
    font-size: 10pt;
}

a.sub_menu:hover {
    color: #ffffff;
    background: #C47147 url('/images/sub_menu_bg-over.gif') no-repeat bottom right;
}

a.calendar_trigger {
    text-decoration: none;
    background: url('/images/calendar.gif');
    padding-right: 20px;
    background-repeat: no-repeat;
}

div.calendar_container {
    position: absolute;
}

div.sub_menu {
    padding-bottom: 12px;
}

label {
    color: #333333;
    font-weight: bold;
    padding: 0 12px;
}

span.required, label.required {
    background: url('/images/required.png') no-repeat top left;
}

p.pushdown {
    clear: both;
}

.popup_form label {
    color: #555555;
}

.boxed, .boxed_simple {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    background: #FFFFFF;
    padding: 3px;
    float:left;
    width: 720px;
    margin-bottom: 0px;
}

.boxed_simple {
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
}

table.short, div.short {
    width: 400px;
}

div.boxed_right {
    background: transparent url('/images/boxed-bg-right.png') repeat-y; 
    float:left; 
    width:5px; 
    margin-bottom: 0px;
}

div.boxed_bottom {
    background: transparent url('/images/boxed-bg-bottom.png') repeat-x right; 
    float:left; 
    height:5px; 
    margin-bottom: 8px;
}

th, td {
    vertical-align: top;
}

tr.header, td.header {
    background-color: #C47147;
    background-image: url('/images/h3_bg.gif');
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-weight: bold;
}

tr.header2, td.header2 {
    background-image: url('/images/header2_bg.gif');
    background-repeat: repeat-x;
    background-color: #C3C3C3;
    color: #000000;
    font-weight: bold;
}

.even {
    background-color: #E0E0E0;
}

.warn {
    color: #C47147;
}

.nav_menu_link {
    visibility: hidden;
    position: absolute;
    border:1px solid #555555;
    border-bottom-width: 1px;
    border-right-width: 2px;
    line-height: 18px;
    z-index: 100;
    width: 205px;
    background-color: #DDDDDD;
}

.nav_menu_link a {
    width: 100%;
    display: block;
    text-indent: 3px;
    border-bottom: 1px solid #555555;
    padding: 1px 0;
    text-decoration: none;
    font-weight: bold;
    text-indent: 5px;
}

.nav_menu_link a:hover { 
    background-color: #FFFFFF;
    color: #333333;
}

.pass {
    color: green;
}

.fail {
    color: red;
}

.todo {
    color: #9ab00b;
}

.skip {
    color: #9ab00b;
}

div.pass_fail_ratio {
    width: 70px;
    height: 50px;
    border: 1px solid #555555;
    text-align: center;
    -moz-border-radius: 5px;
    font-weight: bold;
    margin-right: 6px;
    margin-top: 6px;
}

div.popup_form {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EEEEEE;
    border: 1px solid #555555;
    border-top: 1px solid #999999;
    z-index: 100;
    max-width: 300px;
}

div.popup_form input[type="submit"], div.popup_form a.button {
    margin-bottom: 5px;
}

a.button {
    color: #ffffff;
    background-color: #C47147;
    border: 1px solid #555555;
    padding: 2px;
    margin-left: 2px;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
}

a.button:hover, a.button.invert, a.button.dead {
    color: #C47147;
    background-color: #ffffff;
}

a.button.invert:hover {
    color: #ffffff;
    background-color: #C47147;
}


/* Calendar DatePicker Styles */
.datepicker {
  border: 1px solid gray;
  font-size: 13px;
  width: 175px;
  height: 140px;
  background-color: #FFFFFF;
  color: #000000;
}

/* header */
.datepicker_header {
  padding-top: 3px;
  width: 100%;
  height: 20px;
  background-color: #E6E6FA;
  border-bottom: 1px solid #808080;
  color: #808080;
  font-weight: bold;
}

.datepicker_preYears {
  position: relative;
  left: 5px;
  float: left;
}

.datepicker_mark {
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.datepicker_markHover {
  float: left;
  margin-right: 5px;
  cursor: pointer;
  color: #FF8080;
  background-color: #E6E6FA;
}

.datepicker_nextYears {
  position: relative;
  left: 25px;
  float: left;
}

.datepicker_years {
  position: relative;
  left: 5px;
  width: 80px;
  float: left;
}

.datepicker_ym {
  margin-left: 10px;
}


/* calendar */
.datepicker_calendar {
  padding-top: 5px;
  color: #000000;
  background-color: #FFFFFF;
}

.datepicker_table {
  font-size: 11px;
  text-align: center;
}

.datepicker_tableTh {
  color: #778899;
  background-color: #FFFFFF;
}

.datepicker_date {
  cursor: pointer;
  color: #000000;
  background-color: #FFFFFF;
}

.datepicker_holiday {
  cursor: pointer;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #FF8080;
}

.datepicker_dateHover {
  cursor: pointer;
  background-color: #E6E6FA;
  font-weight: bold;
  color: #FF8080;
}

.datepicker_holidayHover {
  cursor: pointer;
  background-color: #E6E6FA;
  font-weight: bold;
  color: #FF8080;
}


/* accordion styles */
div.accordion, div.fake_accordion {
    width: 700px;
    margin-left: 10px;
    border: solid 1px #555555;
}

div.accordion > div.panel, div.fake_accordion > div.panel {
    border-bottom: 1px solid #000000;
}

div.accordion > div.panel > div.header, div.fake_accordion > div.panel > div.header {
    font-size: 11pt;
    padding: 2px 6px 2px 6px;
    border-style: solid none solid none;
    border-top-color: #CCCCCC;
    border-bottom-color: #333333;
    border-width: 1px 0px 1px 0px;
    background-color: #555555;
    color: #FFFFFF;
}

div.accordion form a, div.fake_accordion form a {
    font-weight: bold;
    color: #FFFFFF;
}

div.accordion form a:hover, div.fake_accordion form a:hover {
    color: #000000;
}

div.accordion div.panel div.attention_header, div.fake_accordion div.panel div.attention_header {
    background-color: #C47147;
}

div.accordion div.panel div.content, div.fake_accordion div.panel div.content {
    background-color: #FFFFFF;
}

div.fake_accordion div.panel div.invalid_content {
    background-color: #CCCCCC;
}

.accordion .header label, .fake_accordion .header label {
    color: #FFFFFF;
}

/* Auto-Complete styles */
div.auto_complete {
    width: 350px;
    background: #fff;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #C47147;
    color: #ffffff;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}

/* Indicator styles */

img.indicator {
    width: 16px;
    height: 16px;
}

/* CRUD styles */
table.crud {
    width: 720px;
}

div.crud_header {
    width: 710px;
    padding-bottom: 3px;
    text-align: right;
    vertical-align: middle;
}

div.crud_header a {
    background-image: url('/images/new.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* Notify styles */
#NotifyAlertWrap{
    margin: 10%;
    background-color:#eee;
    padding: 10px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    width: 70%;
    height: 165px;
    margin-top: -4000px;
}
#NotifyAlertOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/error_overlay.png');
    z-index:1000;
}

* html #NotifyAlertOverlay{
    background-color: #333;
    back\ground-color: transparent;
    background-image: url('/images/blank.gif');
    /* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/error_overlay.png", sizingMethod="scale"); */
}

