body {
	font-family: Verdana, Arial, Helvetica, Tahoma;
	font-size: small;
}

a { color: #000066; text-decoration: none; }

pre {
    font-size: 10pt;
}

th, tfoot td {
	border: 1px solid #444444;
	font-weight: bold;
	font-size: 1em;
	color: black
   	text-align: center;
	vertical-align: center;
	background-color: #efefef;
}

tfoot td, th {
    color: black; 
    border: 1px solid #505050; 
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
	padding: 0.1em;
}

tbody.failed {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

#details {
    margin-bottom: 5px;
}

#matrix {
	border-collapse: collapse;
	border: 1px solid #444444;
	background-color: #fbfbfb;
    width: 700px;
}

.sum {
    width: 1em;  
	border: 1px solid #505050;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
	padding: 0.1em;
}

td, th {
    vertical-align: top;
}

td.ok, td.failed { 
    width: 1em;  
	text-align: center;
	font-weight: bold;
	font-size: 0.85em;
	padding: 0.1em;
}

td.failed, a.failed {
    color: #ff3020;
}

.exp {
	display: block;
}

.x { 
    color: black; 
    border: 1px solid #505050; 
}

.f { background-color: #ff3020; }
.p { background-color: #00ff00; }
.sk { background-color: #ddffdd; }
.u { background-color: #ffdd20; color: white; }
.t { background-color: #007f00; color: white; }
.nottest { background-color: #7f7f7f; color: white ; }

/* layout styles */
#container {
    text-align: left;
    width: 600px;
    height: 100px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    padding: 3px;
    -moz-border-radius: 10px;
}

#header {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    -moz-border-radius: 10px;
    position: relative;
    background-image: url(/images/gride.png);
}

#logo {
    background-image: url(/images/smolder_small_no_text.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

#title {
    background-image: url(/images/smolder_text.png);
    background-repeat: no-repeat;
    width: 291px;
    height: 57px;
    position: absolute;
    right: 0px;
    top: 84px;
}

#content {
    padding-top: 0px;
}

h1 {
    margin-top: 0px;
}


