/* Tooltip styling */
.tooltip {
    min-width: 200px;
    padding: 5px;
    background: #ffffff;
    text-align: left;
    border: 1px solid #CCCCCC;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    font-weight: bold;
    z-index: 100;
    color: #000000;
}

.tooltip > .header {
    background-color: #C47147;
    font-weight: bold;
    font-size: 11pt;
    color: #FFFFFF;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px solid #555555;
    border-right: 1px solid #555555;
}

.tooltip:hover, .tooltip_trigger:hover {
    cursor: pointer;
}

