[% SET page_title = 'My Projects' %]

[% IF c.developer.projects %]
<div class="fake_accordion" id="accordion_projects">
  [% FOREACH project IN c.developer.projects %]
  <div class="panel">
    <div class="header">[% project.name | html %]<!--ID:[% project.id %]--></div>
    <div class="content">
      <ul>
        <li><a href="/app/developer_projects/add_report/[% project.id %]">Add Smoke Report</a></li>
        <li><a href="/app/developer_projects/smoke_reports/[% project.id %]">Most Recent Smoke Tests</a></li>
        <li><a href="/app/developer_graphs/start/[% project.id %]">Progress Graphs</a></li>
        [% IF project.is_admin(c.developer) %]
        <li><a href="/app/developer_projects/admin_settings/[% project.id %]">Project Settings</a></li>
        [% END %]
      </ul>
    </div>
  </div>
  [% END %]
</div>
[% ELSE %]
<span class="warn">
    You are not currently assigned to any projects.
</span>
[% END %]

