[% IF c.dfv_msgs.any_errors || err_unique_project_name %]
<script type="text/javascript">
[% IF err_unique_project_name || c.dfv_msgs.invalid_unique_project_name %]
    Smolder.show_message('warning', 'A project with that name already exists.');
[% ELSIF c.dfv_msgs.invalid_project_name %]
    Smolder.show_message('warning', 'Name is too long. Must be less than 255 characters.');
[% END %]

[% IF c.dfv_msgs.invalid_start_date %]
    Smolder.show_message('warning', 'Invalid Start Date');
[% END %]
</script>
[% END %]
