<div class="boxed">
[% INCLUDE form_header.tmpl %]
<form action="/app/developer_projects/process_admin_settings/[% project.id %]" class="ajaxable for_admin_settings show_settings_indicator" name="admin_settings_form" method="post">
<table>
<tr>
  <td><label [% IF c.dfv_msgs.err_default_platform %]class="warn"[% END %]>Default Platform</label></td>
  <td><input class="first hl" type="text" name="default_platform" /></td>
  [% IF c.dfv_msgs.invalid_default_platform %]
  <td class="warn">
    Too long. Must be under 255 characters.
  </td>
  [% END %]
</tr>
<tr>
  <td><label [% IF c.dfv_msgs.err_default_arch %]class="warn"[% END %]>Default Architecture</label></td>
  <td><input class="hl" type="text" name="default_arch" /></td>
  [% IF c.dfv_msgs.invalid_default_arch %]
  <td class="warn">
    Too long. Must be under 255 characters.
  </td>
  [% END %]
</tr>
<tr>
  <td><label [% IF c.dfv_msgs.err_graph_start %]class="warn"[% END %]>Graphs Start Date</label></td>
  <td>
    <select name="graph_start" class="hl">
      <option value="project">Project Start Date</option>
      <option value="year">First Day of the Year</option>
      <option value="month">First Day of the Month</option>
      <option value="week">First Day of the Week</option>
      <option value="day">Today</option>
    </select>
  </td>
</tr>
<tr>
  <td><label class="required[% IF c.dfv_msgs.err_allow_anon %] warn[% END %]">Allow Anonymous Reports? *</label></td>
  <td>
    <input type="radio" name="allow_anon" value="1"/>Yes
    <input type="radio" name="allow_anon" value="0"/>No
  </td>
</tr>
<tr>
  <td colspan="2" align="right">
    <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="indicator" id="settings_indicator" alt="loading" />
    <input type="submit" value="Update Settings" />
  </td>
</tr>
</table>
</form>
</div>
