[% SET page_title = project.name %]

<h2>Settings</h2>

<div class="sub_menu">
    <a class="sub_menu" href="/app/developer_projects/details/[% project.id %]">Project Details</a>
    <a class="sub_menu" href="/app/developer_projects/add_report/[% project.id %]">Add Smoke Report</a>
    <a class="sub_menu" href="/app/developer_projects/smoke_reports/[% project.id %]">Most Recent Reports</a>
    <a class="sub_menu" href="/app/developer_graphs/start/[% project.id %]">Progress Graphs</a>
</div>

<div id="admin_settings" style="height: 195px">
  [% PROCESS Developer/Projects/admin_settings_form.tmpl %]
</div>

<h2>Tags</h2>

<div id="project_tags">
  [% PROCESS Developer/Projects/admin_settings_tags.tmpl %]
</div>
