<div style="float:right; padding-right: 30px;" id="smoke_reports_nav">
  <form class="ajaxable show_paging_indicator" name="smoke_reports" id="smoke_reports" action="/app/[% IF c.public %]public[% ELSE %]developer[% END %]_projects/smoke_reports/[% project.id %]" method="get">
    <input type="hidden" name="offset" value="" />
    <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="indicator" id="paging_indicator" alt="loading" />
    [% SET cats = project.categories %]
    [% IF cats %]
    <span>
    <select name="category" class="auto_submit">
      <option value="">--Category--</option>
      [% FOREACH cat IN cats %]
        <option value="[% cat | html %]"[% IF category == cat %]selected="selected"[% END %]>[% cat | html %]</option>
      [% END %]
    </select>
    </span>
    [% END %]
    [% IF limit && (offset - limit >= 0) %]
      <a class="smoke_reports_nav offset_[% offset - limit %]" href="#" style="text-decoration: none">&lArr;</a>
    [% ELSE %]
      &lArr;
    [% END %]
    |
    [% IF limit && ((offset + limit) < project.report_count(category)) %]
      <a class="smoke_reports_nav offset_[% offset + limit %]" href="#" style="text-decoration: none">&rArr;</a>
    [% ELSE %]
      &rArr;
    [% END %]
    <select name="limit" class="auto_submit">
      <option[% IF limit == 5 %] selected="selected"[% END %]>5</option>
      <option[% IF limit == 10 %] selected="selected"[% END %]>10</option>
      <option[% IF limit == 15 %] selected="selected"[% END %]>15</option>
      <option[% IF limit == 20 %] selected="selected"[% END %]>20</option>
      <option[% IF limit == 30 %] selected="selected"[% END %]>30</option>
      <option value="0">All</option>
    </select>
  </form>
</div>

