[%- SET page_title = project.name _ ' - ' _ test_file.label -%]
[%- SET app_prefix = project.app_prefix -%]

<div class="tap">

<p>

<h3>Actions</h3>

<form method=GET action="[% app_prefix %]/bulk_test_file_action/[% project.id %]">
<input type="hidden" name="testfiles" value="[% test_file.id %]">
<input type="hidden" name="return_to" value="test_file_history/[% project.id %]/[% test_file.id %]">
<div class="bulk_actions">

[% PROCESS Shared/test_file_actions.tmpl %]

[% IF test_file.source_path %]
<a target="_view_source" href="[% app_prefix %]/test_file_source/[% test_file.id %]">View source</a>
[% END %]

</div>
</form>

<h3>History</h3>

<table class="boxed matrix">
  <thead>
    <tr>
      <th>#</th>
      <th>Smoke Report</th>
      <th>Results</th>
      <th>Count</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
[% FOREACH test IN results %]
   [% SET report = test.smoke_report %]
    <tr>
      <td width=5%>[% test.id %]</td>
      <td>
        <span style="float: right">
          <img src="[% url_prefix %]/images/indicator.gif" style="visibility:hidden; border: none" id="indicator_[% test.file_index %]" />
        </span>
        <a class="testfile_label" href="[% url_prefix %][% app_prefix %]/report_details/[% report.id %]">
        <span class="filename[% IF test.failed %] fail[% END %]">
          [% report.added.strftime('%a %b %d %l:%M %p') %]
        </span>
        </a>
      </td>
      <td width=5% class="x sum" style="margin: 0px; padding: 0px; [% IF test.all_skipped %]background-color: #FFFD50; color: black">SKIPPED[% ELSIF test.failed %]background-color: #CC0033; color: white">FAILED[% ELSE %]background-color: #00FF00; color: black">OK[% END %]
      </td>
      <td width=5% class="x sum">
       [% INCLUDE Shared/test_file_report_details_anchor.tmpl %]
         [% test.total - test.failed %]/[% test.total %]
        </a>
      </td>
      <td width=5% class="x sum">
        <a 
       [% INCLUDE Shared/test_file_report_details_anchor.tmpl %]
         [% test.percent %]%
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <div id="testfile_details_[% test.file_index %]" class="testfile_details" style="display:none"></div>
        <div id="testfile_details_[% test.file_index %]_tap_stream" class="testfile_tap_stream" style="display:none; text-align: right">
          <a href="[% url_prefix %]/app/public_projects/tap_stream/[% report.id %]/[% test.file_index %]" target="_blank">TAP &#187;</a>
        </div>
      </td>
    </tr>
[% END %]
  </tbody>
</table>

<p>

<h3>Comment log</h3>

<table border=0 class="boxed matrix">
[% FOREACH comment IN test_file.comments %]
<tr>
<td width=20%>[% comment.added.strftime('%a %b %d %l:%M %p') %]</td>
<td width=10%>[% comment.developer.username %]</td>
<td>[% comment.comment %]</td>
</tr>
[% END %]
</table>

</div>
