[% SET page_title = 'Admin - Projects' %]

<link rel="stylesheet" type="text/css" href="/style/project_developers.css" />

<h2>Assign Developers to Projects</h2>

<div class="sub_menu">
    <a class="sub_menu" href="/app/admin_projects/list">Manage Projects</a>
</div>

<p>
  To add a Developer to a Project, simply click-and-drag their username to the appropriate Project.
  <br />
  To remove a Developer from a Project simply click-and-drag their username from the Project to the Trash Can.
</p>

<table>
<tr>
<td valign="top">
  <div id="developers">
  <h3>Developers</h3>
  [% IF developers %]
    [% FOREACH developer IN developers %]
      [% SET id = 'developer_' _ developer.id %]
      <div class="draggable_developer" id="[% id %]">[% developer.username | html %]</div>
    [% END %]
  [% ELSE %]
    <em>No Developers</em>
  [% END %]
  </div>
  
  <div id="droppable_trash_can"></div>
</td>
<td valign="top">
<div id="projects">
  <h3>Projects</h3>
  [% IF projects %]
    [% FOREACH project IN projects %]
      <div id="project_container_[% project.id %]">
      [% PROCESS Admin/Projects/project_container.tmpl %]
      </div>
    [% END %]
  [% ELSE %]
    <em>No Projects</em>
  [% END %]
</div>
</td>
</tr>
</table>
