[% IF projects %]
<table class="boxed crud" id="project_list">
<tr class="header">
  <td>Project Name</td>
  <td>Start Date</td>
  <td>Public?</td>
  <td>Edit</td>
  <td>Delete</td>
</tr>
[% FOREACH project IN projects %]
  <tr class="[% IF loop.count % 2 == 0 %]even[% ELSE %]odd[% END %]">
    <td width="150px">[% project.name | html %]</td>
    <td width="100px">[% project.start_date.strftime('%d/%m/%Y') %]</td>
    <td width="50px">[% IF project.public %]Yes[% ELSE %]No[% END %]</td>
    <td width="50px"><a href="/app/admin_projects/edit/[% project.id %]" class="crud_edit_trigger for_item_[% project.id %]" id="crud_edit_[% project.id %]">[Edit]</a></td>
    <td width="60px">
      <a href="#" class="popup_form" id="delete_project_[% project.id %]_trigger" >[Delete]</a>
      <div class="popup_form" id="delete_project_[% project.id %]" style="display:none; position: absolute">
      <form class="ajaxable show_indicator_[% project.id %]" name="delete_[% project.id %]" action="/app/admin_projects/delete/[% project.id %]" method="post">
        Upon deletion, all information about this project will be removed.<br />
        Are you sure this is what you want?
        <input type="submit" value="Yes">
        <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="indicator" id="indicator_[% project.id %]" alt="loading" />
      </form>
      </div>
    </td>
  </tr>
[% END %]
</table>
[% ELSE %]
  <p>No Projects currently exist</p>
[% END %]
