<div class="droppable_project" id="project_[% project.id %]">
<div class="project_name">
  <a href="/app/admin_projects/details/[% project.id %]">[% project.name | html %]</a>
    -
  <a style="text-decoration: none" href="#" class="very_small popup_form" id="admin_form_[% project.id %]_trigger">Admins?</a>
  <div id="admin_form_[% project.id %]" class="popup_form" style="display:none; position: absolute;">
    <form class="ajaxable for_project_container_[% project.id %] show_pc_indicator_[% project.id %]" action="/app/admin_projects/change_admins/[% project.id %]" method="post">
      <input type="hidden" name="project" value="[% project.id %]" />
      <table>
        <tr>
          <td>&nbsp;</td>
          <td><label class="small">Admin?</label></td>
        </tr>
        [% FOREACH developer IN project.developers %]
        <tr>
          <td class="small">[% developer.username | html %]</td>
          <td><input type="checkbox" name="admin" value="[% developer.id %]" [% IF project.is_admin(developer) %]checked="checked"[% END %] /></td>
        </tr>
        [% END %]
        <tr>
          <td colspan="2" align="right">
            <img src="/images/indicator.gif" style="display:none" class="indicator" id="pc_indicator_[% project.id %]" alt="loading" />
            <input type="submit" value="Submit Changes" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
[% FOREACH developer IN project.developers %]
  <div class="draggable_project_developer" id="[% 'project_' _ project.id _ '_developer_' _ developer.id %]">
    [% developer.username | html %]
    [% IF project.is_admin(developer) %]
        <span class="very_small warn">(admin)</span>
    [% END %]
  </div>
[% END %]
</div>

