[% IF c.dfv_msgs.any_errors %]
<p class="warn">
    The information you provided was either incomplete or invalid. Please review, make changes and then resubmit.
    <br />
    [% UNLESS no_required_fields %]
    All fields marked with a '<strong>*</strong>' are required.
    [% END %]
</p>
[% ELSIF ! no_required_fields %]
<p>
    All fields marked with a '<strong>*</strong>' are required.
</p>
[% END %]

