[% IF ! no_required_fields %]
<p>
    All fields marked with a '<strong>*</strong>' are required.
</p>
    [% IF c.dfv_msgs.any_errors && c.dfv_msgs.has_missing %]
    <script type="text/javascript">
        show_message('warning', 'Please fill in the missing required fields.');
    </script>
    [% END %]
[% END %]



