[% IF no_wrapper %]
  [% content %]
[% ELSE %]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Smolder [% IF page_title %]([% page_title %])[% END %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="[% c.static_url('/style/layout.css') %]" />
  <link rel="stylesheet" type="text/css" href="[% c.static_url('/style/style.css') %]" />
  <link rel="shortcut icon" type="image/x-icon" href="[% c.static_url('/favicon.ico') %]" />
  <script type="text/javascript" src="[% c.static_url('/js/anylink.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/prototype.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/rico.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/scriptaculous/builder.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/scriptaculous/effects.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/scriptaculous/dragdrop.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/scriptaculous/controls.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/tooltip.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/spinelz/datepicker.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/spinelz/spinelz_util.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/behaviour.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/notify.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/smolder.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/smolder_crud.js') %]"></script>
  <script type="text/javascript" src="[% c.static_url('/js/smolder_behaviours.js') %]"></script>
</head>
   
<body>

<div id="container">

<div id="header_container">
    <div id="header">
        <div id="logo"></div>
        <div id="title"></div>
    </div>
</div>

[% SET projects = c.developer.projects %]
[% SET public_projects = c.public_projects %]
[% SET username = c.developer.username %]

<div id="top_nav">
  [ 
    [% IF username %]
        [% username %] |
        <a href="/app/developer_projects"[% IF projects %] id="my_projects_menu_trigger" class="dropdownmenu"[% END %]>my projects</a> |
        <a href="/app/developer_prefs">prefs</a> |
    [% END %]


    [% IF c.developer.admin %]
        <a href="/app/admin" id="admin_menu_trigger" class="dropdownmenu">admin</a> |
    [% END %]

    [% IF public_projects.size %]
        <a href="/app/public_projects" id="public_projects_menu_trigger" class="dropdownmenu">public projects</a> |
    [% END %]

    [% IF username %]
        <a href="/app/public_auth/logout">logout</a>
    [% ELSE %]
        <a href="/app/public_auth/login">login</a>
    [% END %]
  ]
</div>

<!-- EXTRA MENU OPTIONS -->
<div id="admin_menu" class="nav_menu_link">
  <a href="/app/admin_developers">developers</a>
  <a href="/app/admin_projects">projects</a>
</div>
[% IF projects %]
<div id="my_projects_menu" class="nav_menu_link">
[% FOREACH proj = projects %]
  <a href="/app/developer_projects/smoke_reports/[% proj.id %]">[% proj.name | html %]</a>
[% END %]
</div>
[% END %]
[% IF public_projects.size %]
<div id="public_projects_menu" class="nav_menu_link">
[% FOREACH proj = c.public_projects %]
  <a href="/app/public_projects/smoke_reports/[% proj.id %]">[% proj.name | html %]</a>
[% END %]
</div>
[% END %]
<!-- END EXTRA MENU OPTIONS -->


<div id="main_container">
    <div id="message_container"></div>
    <div id="main">
        <div id="page_title"><h1>[% page_title %]</h1></div>
        <div id="content">[% content %]</div>
    </div>
</div>

</div>

<div id="ajax_error_container">
  <center>
  <div style="width: 300px; border: 1px solid #555555; background-color: #ffff99">
    <h3>Whoops!</h3>
    <strong>An error has occurred on the server.</strong><br />
    Please notify the administrator of the time this occurred
    and what you were trying to do.
    <br />
    <em>Thank you and sorry for the inconvenience.</em>
  </div>
  </center>
</div>

</body>

</html>
[% END %]
