[% IF no_wrapper %]
  [% content %]
[% ELSE %]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Smolder [% IF page_title %]([% page_title %])[% END %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="/style/layout.css" />
  <link rel="stylesheet" type="text/css" href="/style/style.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/js/anylink.js"></script>
  <script type="text/javascript" src="/js/prototype.js"></script>
  <script type="text/javascript" src="/js/rico.js"></script>
  <script type="text/javascript" src="/js/scriptaculous.js"></script>
  <script type="text/javascript" src="/js/tooltip.js"></script>
  <script type="text/javascript" src="/js/spinelz/datepicker.js"></script>
  <script type="text/javascript" src="/js/spinelz/sortabletable.js"></script>
  <script type="text/javascript" src="/js/behaviour.js"></script>
  <script type="text/javascript" src="/js/smolder.js"></script>
  <script type="text/javascript" src="/js/my_behaviours.js"></script>
</head>
   
<body>

<div id="container">

<div id="header_container">
    <div id="header">
        <div id="logo"></div>
        <div id="title"></div>
    </div>
</div>

[% SET projects = c.developer.projects %]
[% SET username = c.developer.username %]

<div id="top_nav">
  [ 
    [% IF username %]
        [% username %] |
        <a href="/app/developer_projects">my projects</a> |
        <a href="/app/developer_prefs">preferences</a> |
    [% ELSE %]
<!--        <a href="/app/public_projects">projects</a> | -->
    [% END %]


    [% IF c.developer.admin %]
        <a href="/app/admin" id="admin_menu_trigger" class="dropdownmenu">admin</a> |
    [% END %]

    [% IF username %]
        <a href="/app/public_auth/logout">logout</a>
    [% ELSE %]
        <a href="/app/public_auth/login">login</a>
    [% END %]
  ]
</div>

<!-- ADMIN OPTIONS -->
<div id="admin_menu" class="nav_menu_link">
  <a href="/app/admin_developers">developers</a>
  <a href="/app/admin_projects">projects</a>
</div>

<div id="main_container">
    <div id="main">
        <div id="page_title_container">
            <div id="page_title"><h1>[% page_title %]</h1></div>
            <div id="global_indicator">&nbsp;</div>
        </div>
        <div id="content">[% content %]</div>
    </div>
</div>

</div>

</body>

</html>
[% END %]
