[% SET page_title = "Admin" %]

<h2>Projects</h2>

<div id="project_crud" class="crud for_admin_projects">
    <div class="header">
      <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="indicator" id="proj_indicator" alt="loading" />
      <a href="/app/admin_projects/add" class="add_trigger">Add New Project</a>
    </div>
    <div id="project_add_container" class="add_container" style="display:none"></div>
    <div id="project_list_container" class="list_container">[% PROCESS Admin/Projects/list_table.tmpl %]</div>
</div>
