[% PROCESS Admin/Developers/add_edit_msgs.tmpl %]
<form class="add_form" name="add" action="/app/admin_developers/process_add" method="post">

<table class="crud boxed" id="crud_add_table">
<tr><td class="header2" colspan="4">Add New User</td></tr>
<tr><td colspan="4">[% PROCESS form_header.tmpl %]</td></tr>

<tr>
  <td><label class="required[% IF c.dfv_msgs.err_username || err_unique_username %] warn[% END %]">Username</label></td>
  <td><input class="first" type="text" name="username" size="20" autocomplete="off" /></td>
  <td><label class="required[% IF c.dfv_msgs.err_email %] warn[% END %]">Email</label></td>
  <td><input type="text" name="email" size="20" autocomplete="off" /></td>
</tr>
<tr>
  <td><label class="[% IF c.dfv_msgs.err_fname %]warn[% END %]">First Name</label></td>
  <td><input type="text" name="fname" size="20" /></td>
  <td><label class="[% IF c.dfv_msgs.err_lname %]warn[% END %]">Last Name</label></td>
  <td><input type="text" name="lname" size="20" /></td>
</tr>
<tr>
  <td><label class="required[% IF c.dfv_msgs.err_password %] warn[% END %]">Password</label></td>
  <td><input type="text" name="password" size="20" /></td>
  <td><label class="required[% IF c.dfv_msgs.err_admin %] warn[% END %]">Site Admin?</label></td>
  <td>
    <input type="radio" name="admin" value="1"> Yes
    <input type="radio" name="admin" value="0"> No
  </td>
</tr>
<tr>
    <td colspan="4" align="right">
      <img src="[% c.static_url('/images/indicator.gif') %]" style="display:none" class="add_indicator" id="indicator" alt="loading" />
      <input type="submit" value="Add" />
    </td>
</tr>
</table>
</form>
