[% SET page_title = "Admin - Developers" %]

<h2>Developers</h2>

<div class="sub_menu">
    <a class="sub_menu" href="/app/admin_projects/developers">Assign Developers to Projects</a>
</div>

<div class="crud_header">
<img src="/images/indicator.gif" style="display:none" class="indicator" id="crud_indicator" alt="loading" />
<a href="/app/admin_developers/add" id="crud_add_trigger">Add New Developer</a>
</div>
<div id="crud_add_container" class="crud_add for_crud_list" style="display:none"></div>
<div id="crud_list">
[% PROCESS Admin/Developers/list_table.tmpl %]
</div>
