[% SET page_title = 'Welcome' %]

<div class="boxed">
<h3>Increase the visibility of your Smoke Tests</h3>
<p>
    Smolder provides an easy, centralized server for managing
    Smoke and Regression tests for your project.
</p>
<div>
    <img src="[% c.static_url('/images/square_icon.png') %]" align="left" style="padding-right: 20px" />
      <ul>
        <li>Upload test results manually or using an automated process.</li>
        <li>Receive emails in response to all new reports or only new failure reports.</li>
        <li>Each user customizes how and when they receive test reports.</li>
        <li>Log in to view test details or project trends.</li>
        <li>Link to test failures in bug reports to provide a nice cross reference.</li>
        <li>Easily organize multiple projects under one simple, self-contained installation.</li>
      </ul>
</div>

<p>
  New to Smolder? Look at the <a href="/app/public/developer_tutorial">User Tutorial</a> 
  and the <a href="/app/public/admin_tutorial">Admin Tutorial</a>.
</p>
<p>Do you want to <a href="/app/public_auth/login">Login?</a></p>
</div>
