=head1 NAME

Smolder Script List

=head1 DESCRIPTION

This is a list of all of Smolder scripts in the F<bin/> directory.

=head2 SCRIPT LIST

=over

<tmpl_loop script_loop>
=item *

L<<tmpl_var script>|bin/<tmpl_var script>>
</tmpl_loop>

=back

