=head1 NAME

CPAN Inventory

=head1 DESCRIPTION

This is a list of all of the CPAN modules that Smolder bundles.

=head2 MODULES LIST

=over

<tmpl_loop module_loop>
=item *

L<<tmpl_var module>> - <tmpl_var version>
</tmpl_loop>

=back

