[% SET page_title = "Login" %]

[% IF validation_failed %]
<script type="text/javascript">
    Smolder.show_message('warning', 'Invalid username or password.');
</script>
[% END %]

[% IF c.dfv_msgs.any_errors && c.dfv_msgs.has_missing %]
<script type="text/javascript">
    Smolder.show_message('warning', 'Please fill in the missing required fields.');
</script>
[% END %]

<form action="/app/public_auth/process_login" method="post" name="login" id="login">
<input type="hidden" name="back" value="">

<table class="boxed short">
<tr class="odd">
  <td><label class="required[% IF c.dfv_msgs.err_username || validation_failed %] warn[% END %]">Username<label></td>
  <td><input class="first" type="text" name="username" value="" size="20" /></td>
</tr>
<tr class="even">
  <td><label class="required[% IF c.dfv_msgs.err_password || validation_failed %] warn[% END %]">Password<label></td>
  <td><input type="password" name="password" value="" size="20" /></td>
</tr>
<tr>
  <td colspan="2" align="right"><input type="submit" id="submit" value="Login" /></td>
</tr>

<tr><td colspan="2" align="left"><a href="/app/public_auth/forgot_pw">[I forgot my password!]</a></td></tr>
</table>
</form>

