
A new smoke report has been added to the [% report.project.name %] project
at <a href="[% url_base %]">[% url_base %]</a>.
<br />
You can find the details of this test at
[% SET my_url = "$url_base/app/projects/smoke_report/${report.id}" %]
<a href="[% my_url %]">[% my_url %]</a>.
<br />

Thank You,<br />
<em>Smolder</em>  
