[% SET no_wrapper = 1 %]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Test Details #[% report.id %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="[% url_base %]/style/style.css" type="text/css" />
  <link rel="stylesheet" href="[% url_base %]/style/email.css" type="text/css" />
</head>

<body>

<div id="container">
    <div id="header">
        <div id="logo"></div>
        <div id="title"></div>
    </div>
    <div id="content">
    <div id="page_title">
      <h1>Test Details #[% report.id %]</h1>
      <a href="[% url_base %]/app/projects/report_details/[% report.id %]">[View Full Report]</a>
    </div>

    <div class="tap">
        [% email = 1 %]
        [% url_prefix = url_base %]
        [% PROCESS TAP/full_report.tmpl %]
    </div>
</div>
    
</body>

</html>

